.wrapp {
  margin: auto;
}
.medium {
  /* background: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.3)); */
  /* background: rgb(87, 82, 82); */
  height: 50px;
  padding: 0px 6px 40px 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.02px solid rgb(206, 191, 191);
}
.title-medium {
  font-size: 30px;
  font-family: "Bangers", cursive;
  letter-spacing: 10px;
}
.title-medi {
  padding-top: 20px;
  margin-right: 50px;
  font-family: "Source Code Pro", monospace;
}
.mr-auto {
  height: 35px;
  margin: 10px 0px 0px 0px;
  border-bottom: 1px solid rgb(238, 224, 224);
}
.link1,
.link2,
.link3,
.link4 {
  padding-left: 40px;
  padding-bottom: 40px;
  margin-left: 20px;
  text-decoration: none;
  font-family: "Noto Serif JP", serif;
}
.gambar img {
  margin-left: 250px;
  padding-top: 40px;
}
.sidebar h1 {
  color: rgb(253, 253, 253);
  transform: skew(0deg, -50deg);
  /* transform: rotate(-60deg); */
  margin-top: 60%;
}
.list {
  background: grey;
  width: 30%;
  float: left;
}
.title h3 {
  float: right;
  width: 30%;
  position: relative;
  margin: -200px 300px 0px 0;
  font-family: 'Hepta Slab', serif;  
}
.title h5 {
  float: left;
  width: 40%;
  margin: -100px 0px 0px 300px;
  font-family: "Source Code Pro", monospace;
  color: rgb(136, 72, 136);
}
.title p {
  float: left;
}
